/* Footer styles */
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
