body {
  display: grid;
  place-items: center;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  width: min(600px, 90%);
  margin: auto;
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}

.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
  border-radius: 4px;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="email"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.login input[type="text"]:hover {
  border-color: var(--accent-color);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.login input[type="submit"] {
  border: none;
  background: var(--accent-color);
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.login input[type="submit"]:hover {
  background: var(--accent-color-hover);
}

.login h2 {
  margin: 20px 0 0;
  color: var(--accent-color);
  font-size: 28px;
}

.login p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;
}

.login a {
  text-decoration: none;
  font-size: 0.8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.back-home {
  font-size: 1rem;
}

.back-home:hover {
  color: var(--accent-color);
}

.error {
  color: red;
  margin-top: 10px;
  animation: shake 0.5s ease-in-out;
  text-align: center;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}
.back-home {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}
