/* Header styles */
:root
{
    --navbar-height: 4rem;
}

header
{
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img
{
    max-width: 100px;
    margin: auto;
    margin-block: 1em;
}

nav
{
    background-color: #000000;
    height: var(--navbar-height);
    display: grid;
    align-items: center;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li
{
    margin: 0 15px;
}

nav ul li a
{
    color: var(--body-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 4px;
}

nav ul li a:hover
{
    background-color: var(--body-color);
    color: black;
    transition: background-color 250ms ease-in, color 250ms ease-in;
}

/* Dropdown menu */
.dropdown
{
    position: relative;
}

.dropdown-content
{
    display: none;
    position: absolute;
    top: 110%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    background-color: var(--body-color);
    text-decoration: none;
    border-radius: 4px;
    text-align: left;
}

.dropdown-content a:is(:hover, :focus, :focus-within)
{
    background-color: var(--accent-color-hover);
    color: var(--body-color);
}

.dropdown:is(:hover, :focus, :focus-within) .dropdown-content
{
    display: grid;
    gap: 0.25rem;
}

/* Styles for the banner image in the hero section */
#hero
{
    background: url('images/banner2.jpg') no-repeat center center/cover;
    height: calc(100svh - var(--navbar-height));
    height: calc(100vh - var(--navbar-height));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-overlay
{
    position: relative;
    display: grid;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4rem 6rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: background-color 500ms ease-in-out;
}

.hero-overlay:hover
{
    background-color: rgba(0, 0, 0, 0.6);
}


/* .hero-overlay::before
{
    content: "helloguys";
    position: absolute;
    inset: 0;
    background-color: #00000010;
} */

.hero-overlay h1
{
    font-size: 2.5rem;
}

.hero-overlay p
{
    font-size: 1.2rem;
    color: #b0b0b0;
}

.hero-buttons
{
    margin-block-start: 1.5em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.btn
{
    border: none;
    background-color: var(--accent-color);
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover
{
    background-color: var(--accent-color-hover);
}

/* About section */
#about,
#services,
#gallery,
#contact
{
    padding-block: 3em;
    text-align: center;
}

h2
{
    font-size: 2rem;
    margin-block-end: 1em;
}

#about
{
    padding-block: 3em;
    text-align: center;
}

.about-container
{
    max-width: 80ch;
    margin: 0 auto;
}

.about-container p
{
    margin-block-end: 0.5rem;
}

/* Services */

#services
{
    padding-block: 3em;
    text-align: center;
    background-color: var(--white);
}

.services-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1.5em;
    margin-inline: 4em;
}

.service
{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 250ms;
}

.service img
{
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.service h3
{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service p
{
    font-size: 1rem;
    color: #666;
}

.service:hover
{
    transform: scale(1.05);
}

/* Gallery */
.gallery
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    margin-inline: 4em;
    gap: 1em;
}

.gallery img
{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 4px;
    transition: filter 250ms ease-in-out;
}

.gallery img:hover
{
    filter: brightness(90%) contrast(110%);
}

/* Contact form */

#contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    background-color: var(--white);
    padding-inline: 4em;
}

form
{
    margin: 0 auto;
    text-align: left;
}

form label
{
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button
{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Adjust the styles for the map container as needed */
.map iframe
{
    width: 100%;
    height: 100%;
}

/* Footer styles */
footer
{
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links a
{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover
{
    text-decoration: underline;
}