:root
{
    --car-shadow-x: 0;
    --car-shadow-y: 0;
}

/* Header styles */
.header-top
{
    position: relative;
    background-color: #4c4caf;
    padding: 1rem 0;
    text-align: center;
}

.header-top a
{
    text-decoration: none !important;

}

.header-top h1
{
    margin: 0;
    font-size: 1.8rem;
    text-transform: none;
    color: white !important;
}

.header-top :nth-child(1)
{
    text-transform: uppercase;
}

/* Services section */
#admin-services
{
    padding: 3em 0;
    text-align: center;
}

#admin-services h2
{
    font-size: 2rem;
    margin-bottom: 1em;
}

.services-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1.5em;
    margin-inline: 4em;
}

.service
{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 250ms, box-shadow 250ms, background-color 250ms, opacity 250ms;
}

.service img
{
    width: 60px;
    height: 60px;
    margin: auto;
    margin-bottom: 20px;
}

.service h3
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}

.service p
{
    font-size: 1rem;
    color: #666;
    margin: 0;
}

.service a
{
    text-decoration: none;
    color: inherit;
}

/* .service:hover
{
    transform: scale(1.05);
    box-shadow: 0 1rem 5rem color-mix(in lab, var(--accent-color) 50%, transparent 50%);
} */

.services-container:has(.service:hover) .service
{
    transform: scale(0.9);
    background-color: var(--body-color);
    box-shadow: none;
    opacity: 0.85;
}

.services-container:has(.service:hover) .service:hover
{
    transform: scale(1.05);
    box-shadow: var(--car-shadow-x) var(--car-shadow-y) 5rem color-mix(in lab, var(--accent-color) 60%, transparent);
    background-color: white;
    opacity: 1;
}

/* Footer styles */
footer
{
    margin-block-start: 5rem;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links a
{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover
{
    text-decoration: underline;
}


.logout-button
{
    background-color: rgb(200, 45, 45);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1em;
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 4px;
}

.logout-button:hover
{
    background-color: rgb(150, 35, 35);
}