@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root
{
	line-height: 1.5;
	/* color-scheme: light dark; */
	/* color: hsl(0, 0%, 0%); */

	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Variables */
	--body-color: #F1FAFF;
	--accent-color: #4c4caf;
	--accent-color-hover: #3c3c86;
	--white: #FFF;
	--black: #222;
	/* --text-color-dark: #292929; */
	/* --text-color: #e6e6e6; */
	/* --accent-primary: #6B71F2; */
	/* --accent-secondary: #0FF2B2; */
	/* --deep-blue: #6C2EF2; */
	/* --accent-white: #d1d1d1; */
	/* --monospace-font: "Raleway"; */
	/* --navbar-height: 6rem; */
}

body
{
	margin: 0;
	background-color: var(--body-color);
	/* filter: url(#noiseFilter) brightness(100%) contrast(125%); */
	font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	text-wrap: balance;
}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Box sizing rules */
*,
*::before,
*::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 2px solid #00A10055; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd
{
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list']
{
	list-style: none;
}

/* Set core root defaults */
html
{
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

/* Set core body defaults */
body
{
	min-height: 100vh;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class])
{
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture
{
	max-width: 100%;
	display: block;
	user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select
{
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce)
{
	html:focus-within
	{
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after
	{
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}